# Systemd unit file for starting Hybrasyl on (among other things) Ubuntu 18.04+
[Unit]
Description=Hybrasyl Server

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=hybrasyl
Group=hybrasyl
ExecStart=/srv/hybrasyl/Hybrasyl
WorkingDirectory=/srv/hybrasyl
Restart=on-failure
RestartSec=30
StartLimitBurst=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hybrasyl

