<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Hybrasyl Project NuGet Feed" value="https://ci.appveyor.com/nuget/hybrasyl-xml" />
    </packageSources>
  <disabledPackageSources>
    <add key="Hybrasyl Project NuGet Feed" value="true" />
  </disabledPackageSources>
</configuration>