<HybrasylConfig xmlns="http://www.hybrasyl.com/XML/Config">
  <Network>
    <!-- The ports we should use for each service. Each of these also
         can take BindAddress as an attribute, in order to bind the
         server to a specific IP address. By default, localhost
         (127.0.0.1) is used. -->
    <Lobby Port="2610"/>
    <Login Port="2610"/>
    <World Port="2612"/>
  </Network>
  <Access>
    <!-- This user will have access to the full range of slash
         commands on the server. You should put the name of your
         character here. -->
    <Privileged>YourNameHere</Privileged>
  </Access>
  <ApiEndpoints>
    <!-- We expose a control service that will be used in the future
         to do things like reset / shutdown the server, etc.  It also
         listens on localhost, normally. -->
    <ControlService BindAddress="127.0.0.1" Port="3333"/>
  </ApiEndpoints>
  <Time>
    <!-- Hybrasyl supports the idea of in-game time. If you define a
         default Age, Year, and start date, you'll get dates like
         Hybrasyl 1 in game. -->
    <ServerStart DefaultAge="Hybrasyl" DefaultYear="1">2018-01-08T00:00:00-08:00</ServerStart>
  </Time>
  <!-- How to handle death. If active is false, no one (including
       monsters!) can die.  Perishable means perishable items will be
       destroyted on death.  GroupNotify means if a user is in a coma,
       or dies, their group will be notified. -->
  <Death Active="true" Perishable="true" GroupNotify="true">
    <!-- The map a player will be sent to when they die. -->
    <Map X="5" Y="5">Death Map</Map>
    <!-- If coma (skulling) is active, how long should it last?
         Without this defined, a user will immediately die, even if
         grouped. -->
    <Coma Timeout="30"/>
    <!-- A fixed penalty for dying. -->
    <Penalty Xp="5" Hp="5"/>
    <!-- Legend marks for dying. If not defined, no legend mark is
         given when death occurs. -->
    <LegendMark Prefix="Deaths" Increment="true">Died a horrible death</LegendMark>
  </Death>
</HybrasylConfig>
